<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>email</title>
  </head>
  <body>
    Hello from Festiv!
    Our client, {{fname}}, is interested in booking your venue for my upcoming event.
    {{fname}} would like to inquire about scheduling an event on {{date}}
    for {{hours}} hours, for approximately {{guestCount}} guests.
    In terms of pricing, our client would prefer {{price}}. Please let me know
    of any packages or potential prices for the event.

    Looking forward to hearing back from you!
    Best,
    Festiv
    festivspaces@gmail.com
  </body>
</html>
